.btn{
    margin-right: 5px;
}

.markedAsDone{
    text-decoration: line-through;
    color: red;
}

.todo{
    text-decoration: none;
    color: black;
}

.tableActions{
    width: 110px;
}

.todoForm{
    padding-bottom: 50px;
}

.icons{
    display: flex;
    flex-direction: row;
}